In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('air_pollution_data.csv')
df.head()

,city,date,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,Ahmedabad,30-11-2020,5,520.71,2.38,16.28,130.18,47.68,65.96,72.13,8.36
1,Ahmedabad,01-12-2020,5,1682.28,7.71,54.84,0.73,21.70,120.95,154.53,27.36
2,Ahmedabad,02-12-2020,5,1815.80,16.54,49.35,0.17,23.84,133.47,172.63,28.12
3,Ahmedabad,03-12-2020,5,2296.45,41.57,40.10,0.00,35.76,150.37,202.15,36.48
4,Ahmedabad,04-12-2020,5,2189.64,23.92,58.95,0.02,28.13,160.79,205.80,40.53

In [26]:
descriptive_stats = df.describe()
descriptive_stats_rounded = descriptive_stats.round(2)
descriptive_stats_rounded

,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
count,23504.00,23504.00,23504.00,23504.00,23504.00,23504.00,23504.00,23504.00,23504.00
mean,3.92,1113.22,6.01,25.04,35.06,15.97,98.60,121.85,12.06
std,1.42,1401.77,24.50,25.84,31.90,23.94,135.57,160.43,17.54
min,1.00,173.57,0.00,0.31,0.00,0.19,0.50,0.58,0.00
25%,3.00,447.27,0.00,8.74,7.87,4.47,24.68,32.28,2.34
50%,5.00,700.95,0.00,16.45,28.25,7.99,58.86,75.78,6.52
75%,5.00,1188.28,0.27,32.22,54.36,16.45,117.60,147.64,15.83
max,5.00,23071.29,457.76,331.76,406.27,442.51,2203.55,2429.13,352.62

In [28]:
import pandas as pd
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle
from reportlab.lib import colors

# Create DataFrame (replace with your actual data)
data = {
    'Metric': ['Count', 'Mean', 'Std', 'Min', '25%', '50%', '75%', 'Max'],
    'AQI': [23504, 3.92, 1.42, 1.00, 3.00, 5.00, 5.00, 5.00],
    'NO': [23504, 6.01, 24.50, 0.00, 0.00, 0.00, 0.27, 457.76],
    'NO2': [23504, 25.04, 25.84, 0.00, 8.74, 16.45, 32.22, 331.76],
    'O3': [23504, 35.06, 31.90, 0.00, 7.87, 28.25, 54.36, 406.27],
    'SO2': [23504, 15.97, 23.94, 0.19, 4.47, 7.99, 16.45, 442.51],
    'PM2.5': [23504, 98.60, 135.57, 0.50, 24.68, 58.86, 117.60, 2203.55],
    'PM10': [23504, 121.85, 160.43, 0.58, 32.28, 75.78, 147.64, 2429.13],
    'NH3': [23504, 12.06, 17.54, 0.00, 2.34, 6.52, 15.83, 352.62]
}
df = pd.DataFrame(data)

# Prepare PDF document
pdf = SimpleDocTemplate("Descriptive_Statistics.pdf")
elements = []

# Convert DataFrame to a list of lists
table_data = [list(df.columns)] + df.values.tolist()

# Create Table
table = Table(table_data)
table.setStyle(TableStyle([
    ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
    ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('GRID', (0, 0), (-1, -1), 0.5, colors.black),
    ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
    ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
]))

elements.append(table)

# Build PDF
pdf.build(elements)

print("PDF created successfully!")

PDF created successfully!

In [25]:
highest_pm25_city = df.loc[df['pm2_5'].idxmax()]['city']
lowest_pm25_city = df.loc[df['pm2_5'].idxmin()]['city']
print(f"City with the highest PM2.5 level: {highest_pm25_city['city']} with PM2.5 value: {highest_pm25_city['pm2.5']}")
print(f"City with lowest PM2.5: {lowest_pm25_city}")

highest_pm10_city = df.loc[df['pm10'].idxmax()]['city']
lowest_pm10_city = df.loc[df['pm10'].idxmin()]['city']
print(f"City with highest PM10: {highest_pm10_city}")
print(f"City with lowest PM10: {lowest_pm10_city}")

highest_no_city = df.loc[df['no'].idxmax()]['city']
lowest_no_city = df.loc[df['no'].idxmin()]['city']
print(f"City with highest NO: {highest_no_city}")
print(f"City with lowest NO: {lowest_no_city}")

highest_no2_city = df.loc[df['no2'].idxmax()]['city']
lowest_no2_city = df.loc[df['no2'].idxmin()]['city']
print(f"City with highest NO2: {highest_no2_city}")
print(f"City with lowest NO2: {lowest_no2_city}")

highest_o3_city = df.loc[df['o3'].idxmax()]['city']
lowest_o3_city = df.loc[df['o3'].idxmin()]['city']
print(f"City with highest O3: {highest_o3_city}")
print(f"City with lowest O3: {lowest_o3_city}")

highest_so2_city = df.loc[df['so2'].idxmax()]['city']
lowest_so2_city = df.loc[df['so2'].idxmin()]['city']
print(f"City with highest SO2: {highest_so2_city}")
print(f"City with lowest SO2: {lowest_so2_city}")

highest_nh3_city = df.loc[df['nh3'].idxmax()]['city']
lowest_nh3_city = df.loc[df['nh3'].idxmin()]['city']
print(f"City with highest NH3: {highest_nh3_city}")
print(f"City with lowest NH3: {lowest_nh3_city}")

TypeError: string indices must be integers, not 'str'

In [6]:
df = pd.read_csv('air_pollution_data.csv')
df

,city,date,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,Ahmedabad,30-11-2020,5,520.71,2.38,16.28,130.18,47.68,65.96,72.13,8.36
1,Ahmedabad,01-12-2020,5,1682.28,7.71,54.84,0.73,21.70,120.95,154.53,27.36
2,Ahmedabad,02-12-2020,5,1815.80,16.54,49.35,0.17,23.84,133.47,172.63,28.12
3,Ahmedabad,03-12-2020,5,2296.45,41.57,40.10,0.00,35.76,150.37,202.15,36.48
4,Ahmedabad,04-12-2020,5,2189.64,23.92,58.95,0.02,28.13,160.79,205.80,40.53
...,...,...,...,...,...,...,...,...,...,...,...
23499,Visakhapatnam,21-05-2023,3,353.81,0.00,2.08,100.14,4.11,37.53,47.09,0.08
23500,Visakhapatnam,22-05-2023,3,380.52,0.00,3.77,82.97,5.07,32.17,43.44,1.74
23501,Visakhapatnam,23-05-2023,3,390.53,0.00,4.28,80.11,5.19,36.01,48.06,1.20
23502,Visakhapatnam,24-05-2023,3,300.41,0.00,1.36,95.84,2.21,30.17,48.89,0.00
23503,Visakhapatnam,25-05-2023,4,427.25,0.00,6.00,88.69,10.73,52.36,61.41,0.20

In [19]:
pollutants = ['aqi', 'no', 'no2', 'o3', 'so2', 'pm2_5', 'pm10', 'nh3']

# Find cities and dates with the highest and lowest values for each pollutant with date
city_stats_with_dates = {}

for pollutant in pollutants:
    highest = df.loc[df[pollutant].idxmax()]  # Row with max value
    lowest = df.loc[df[pollutant].idxmin()]   # Row with min value
    
    city_stats_with_dates[pollutant] = {
        'Highest': {
            'City': highest['city'],
            'Date': highest['date'],
            'Value': highest[pollutant]
        },
        'Lowest': {
            'City': lowest['city'],
            'Date': lowest['date'],
            'Value': lowest[pollutant]
        }
    }

# Display results
for pollutant, stats in city_stats_with_dates.items():
    print(f"{pollutant}:")
    print(f"  Highest: {stats['Highest']['City']} on {stats['Highest']['Date']} with value {stats['Highest']['Value']}")
    print(f"  Lowest: {stats['Lowest']['City']} on {stats['Lowest']['Date']} with value {stats['Lowest']['Value']}")

aqi:
  Highest: Ahmedabad on 30-11-2020 with value 5
  Lowest: Ahmedabad on 18-05-2021 with value 1
no:
  Highest: Kolkata on 11-12-2021 with value 457.76
  Lowest: Ahmedabad on 11-12-2020 with value 0.0
no2:
  Highest: Delhi on 29-10-2022 with value 331.76
  Lowest: Aizawl on 30-11-2020 with value 0.31
o3:
  Highest: Mumbai on 30-11-2020 with value 406.27
  Lowest: Ahmedabad on 03-12-2020 with value 0.0
so2:
  Highest: Jorapokhar on 05-01-2021 with value 442.51
  Lowest: Aizawl on 15-05-2022 with value 0.19
pm2_5:
  Highest: Kolkata on 07-01-2021 with value 2203.55
  Lowest: Aizawl on 18-06-2022 with value 0.5
pm10:
  Highest: Kolkata on 06-02-2021 with value 2429.13
  Lowest: Aizawl on 19-06-2022 with value 0.58
nh3:
  Highest: Kolkata on 26-01-2021 with value 352.62
  Lowest: Amaravati on 07-11-2021 with value 0.0

In [22]:
# Prepare results
pollutant_summary = []
for pollutant, stats in city_stats_with_dates.items():
    pollutant_summary.append({
        'Pollutant': pollutant,
        'Highest City': stats['Highest']['City'],
        'Highest Date': stats['Highest']['Date'],
        'Highest Value': stats['Highest']['Value'],
        'Lowest City': stats['Lowest']['City'],
        'Lowest Date': stats['Lowest']['Date'],
        'Lowest Value': stats['Lowest']['Value']
    })

# Convert to DataFrame for better presentation
summary_df = pd.DataFrame(pollutant_summary)

# Save to CSV (optional, for external use)
summary_df.to_csv('Pollutant_City_Report.csv', index=False)

print(summary_df)

  Pollutant Highest City Highest Date  Highest Value Lowest City Lowest Date  \
0       aqi    Ahmedabad   30-11-2020           5.00   Ahmedabad  18-05-2021
1        no      Kolkata   11-12-2021         457.76   Ahmedabad  11-12-2020
2       no2        Delhi   29-10-2022         331.76      Aizawl  30-11-2020
3        o3       Mumbai   30-11-2020         406.27   Ahmedabad  03-12-2020
4       so2   Jorapokhar   05-01-2021         442.51      Aizawl  15-05-2022
5     pm2_5      Kolkata   07-01-2021        2203.55      Aizawl  18-06-2022
6      pm10      Kolkata   06-02-2021        2429.13      Aizawl  19-06-2022
7       nh3      Kolkata   26-01-2021         352.62   Amaravati  07-11-2021

   Lowest Value
0          1.00
1          0.00
2          0.31
3          0.00
4          0.19
5          0.50
6          0.58
7          0.00

In [23]:
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle
from reportlab.lib import colors

# Create PDF
doc = SimpleDocTemplate("Air_Quality_Report.pdf", pagesize=letter)

# Table data
table_data = [['Pollutant', 'Highest City', 'Highest Date', 'Highest Value',
               'Lowest City', 'Lowest Date', 'Lowest Value']] + summary_df.values.tolist()

# Create table
table = Table(table_data)
table.setStyle(TableStyle([
    ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
    ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
    ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
    ('BACKGROUND', (0, 1), (-1, -1), colors.beige),
    ('GRID', (0, 0), (-1, -1), 1, colors.black)
]))

# Build PDF
doc.build([table])